@import "../../styles/variables.scss";

.dashboard {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.dashboard__left {
  flex: 1;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: rgba(64, 63, 68, 0.3);
  height: 100vh;
}

.dashboard__right {
  flex: 4.3;
}

.logo {
  margin: 2rem;
  width: 10rem;
  height: 3rem;
  margin-left: 3rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #403f44;
}

.navbar__item {
  display: flex;
  margin: 1rem 0rem;
  padding: 0.5rem;
}

.navbar__item:hover {
  background-color: rgba(64, 63, 68, 0.1);
  width: 13rem;
  border-radius: 0.5rem;
}

nav a.active {
  display: flex;
  margin: 1rem 0rem;
  padding: 0.5rem;
  background-color: #cdeabc;
  width: 13rem;
  border-radius: 0.5rem;
}

.navbar__icon {
  width: 1.5rem;
  height: 1.5rem;
}

.navbar__label {
  margin-left: 1rem;
}
